.grafico-card {
    width: 100%; /* Aumenta para melhor espaço */
    height: 200px; /* Ajusta a altura */
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribuição vertical */
    text-align: center;

}

.grafico-card h3 {
    font-size: 18px;
    color: white;
    margin-top: -10px;
    margin-bottom: 15px;
}


.bar-chart h3 {
    margin-top: 16px;
}