/* src/styles/index.css ou App.css */
body, html, #root, .App {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Defina a fonte padrão */
  background-color: #12121E; /* Cor de fundo global */
}

.App {
  display: flex;
  height: 100vh; /* Ocupar a altura total */
}

.sidebar {
  height: 100vh; /* Sidebar ocupa a altura total */
}

.dashboard-content {
  height: calc(100vh - 40px); /* Altura total menos o padding */
}
